//header+footer
//Roboto regular400 medium500;notodsans regular400 bold700

body{
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 400;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1320px;
    padding:0px 12px;
    margin: 0px auto;
    @include pad{
        max-width: 720px;
    }
    @include phone{
        max-width: 372px;
    }
}
.text-medium{
    font-weight: 500;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;    
}
.f-wrap{
    flex-wrap: wrap;
}
.jce{
    justify-content: end;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.align-center{
    text-align: center;
}
.algin-left{
    text-align: left;
}
.f-column{
    flex-direction: column;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}


//header
.header{
    background-color: $primary;
    img{
        width:80px;
    }
    a:hover{
        opacity: 0.8;
    }
    .nav{
        padding:25px 0px;
        @include phone{
            padding:0px;
        }
        ul{
            @include phone{
                flex-wrap: wrap;
            } 
        }          
        ul li{
            margin-left: 64px;
            @include phone{
                margin-left: 0px;
                width:50%;
                border:1px solid #fff;
            }
        }
        a{
            color:#fff;
            font-size: $font-m;   
            @include phone{
                font-size: $font-size;
                line-height: 48px;
                margin:0 auto;
                padding:10px 50px;
                }
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include phone{
            max-width: 100%;
            padding:0px;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }
    h1{
        @include phone{ 
            line-height: 80px;  
        }
    }
}


//footer
.footer{
    .border-bottom{
        border-bottom: 1px solid #fff;
        padding:0px 12px;
    }
    background-color: $primary;
    padding:48px 12px 32px;
    @include phone{
        padding:24px 0px;
    }
    a{
        color:#fff;
    }
    a:hover{
        opacity: 0.8;
    }
    img{
        width: 48px;
        @include pad{
            width: 40px;
        }
        @include phone{
            width: 24px;
        }
    }
    .footer-flex{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .f-nav{
        li{
            margin-right: 48px;
        }
        @include phone{
            display: none;
        }
    }
    .footer-nav-r ul li{
        margin-left: 32px;
        @include pad{
            margin-left: 16px;
        }
        @include phone{
            margin-left: 8px;
        }
    }
    .info{
        flex-wrap: wrap;
        align-items: center;    
        padding:24px 0px 32px;
        .material-symbols-outlined{
            color:#fff;
            font-size: $font-lg;
            margin-right: 22px;
            @include phone{
                font-size: 18px;
                margin-right: 10px;
            }             
        }
        @include phone{
            padding: 0px 0px 24px;
        }        
        li{
            width:100%;
        }
        a{
            font-size: $font-lg;
            @include phone{
                font-size: $font-size;
            }
        }
    }
    .copyright{
        padding-top: 32px;
        @include phone{
            padding-top: 16px;
            flex-wrap: wrap;
            justify-content: start;
        }
        .copyright-l{
            color:#fff;
        }
    }
    .copyright-r{
        font-size: $font-sm;
        @include phone{
            font-size: $font-size;
        }
        ul{
            @include phone{
                flex-wrap: wrap;
            }    
        }       
        ul li{
            margin-left: 48px;            
            @include phone{
                margin-top: 8px;
                margin-left: 0px;
                width:100%;
            }     
        }
    }
}