<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
  <!--header-->
  <header class="header">
    <div class="container">
      <h1><a href="index.html"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo"></a></h1>
      <div class="nav">
        <ul class="d-flex">
          <li><a href="#" class="hvr-push">系列鏡框</a></li>
          <li><a href="#" class="hvr-push">門市據點</a></li>
          <li><a href="#" class="hvr-push">部落格</a></li>
          <li><a href="#" class="hvr-push">常見問題</a></li>
        </ul>
      </div>
    </div>
  </header>

  <%- contents %>

  <!--footer-->
  <footer class="footer">
    <div class="container border-bottom footer-flex">
      <div class="footer-nav-l">
        <ul class="f-nav d-flex">
          <li><a href="" class="hvr-overline-from-left">首頁</a></li>
          <li><a href="" class="hvr-overline-from-left">系列鏡框</a></li>
          <li><a href="" class="hvr-overline-from-left">門市據點</a></li>
          <li><a href="" class="hvr-overline-from-left">部落格</a></li>
          <li><a href="" class="hvr-overline-from-left">常見問題</a></li>
        </ul>
        <ul class="info">
          <li class="mb-8"><span class="material-symbols-outlined">call</span><a href="tel:+886-800000000">0800-000-000</a></li>
          <li><span class="material-symbols-outlined">mail</span><a href="mailto:glasses@business.com">glasses@business.com</a></li>
        </ul>
      </div>      
      <div class="footer-nav-r">
        <ul class="d-flex">
          <li><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="FB"></a></li>
          <li><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="IG"></a></li>
          <li><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="LINE"></a></li>
        </ul>
      </div>       
    </div>
    <div class="container copyright d-flex jcsb">      
      <div class="copyright-l">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
      </div>
      <div class="copyright-r">
        <ul class="d-flex">
          <li><a href="">隱私權政策</a></li>
          <li><a href="">服務條款</a></li>
        </ul>
      </div>
    </div>



  </footer>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
   AOS.init();
  </script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
