//字體顏色 大小

$primary:#AA0601;
$secondary:#FBF2F2;
$title-color:#650300;

$line-height: 1.5; 

$font-size: 16px;
$font-lg: 2.25em;  /*36px*/
$font-md: 1.5em;  /*24px*/
$font-m: 1.25em;  /*20px*/
$font-sm: 0.875em; /*14px*/
